
@{
    ViewBag.Title = "Login";
    Layout = null;
}
@*<h2>Login</h2>
    <div class="login">
        <div class="input">
            @using (Html.BeginForm())
            {
                <p>
                    <label>UserName:</label>
                    <input type="text" name="username" />
                </p><br />
                <p>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </p><br />
                <p><input class="lg" type="submit" value="Login" /></p>
            }
        </div>
        @ViewBag.errLogin
    </div>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
  
</head>
<body class="hold-transition login-page" style="background-color:aqua";>
    <div class="login">
     
        <div class="card">
            <div class="card-body login-card-body">
              
                <form action="Login" method="post">
                    <div class="login">
                        <div class="input">
                            <p>
                                <label>UserName:</label>
                                <input type="text" name="username" />
                                <span class="fas fa-envelope"></span>
                            </p><br />
                                <p>
                                    <label>Password:</label>
                                    <input type="password" name="password" />
                                    <span class="fas fa-lock"></span>
                                </p><br />
                                <p><input class="lg" type="submit" value="Login" /></p>
                        </div>
                        @ViewBag.errLogin
                    </div>
                    <!-- /.col -->

                </form>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <div class="mb-0">
                    <form action="Register">
                        <a href="Register" class="text-center">Register a new membership</a>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
  
    <script src="~/Content/dist/js/adminlte.min.js"></script>
</body>
</html>


