@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
       
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Shop bán hàng</h1>
        <nav>
            <ul>
               
            </ul>
        </nav>
    </header>
   
</body>
</html>


